In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
df = pd.read_csv('sub21_normal.csv')
df

,id,target,O2_1,O2_2,O2_3,O2_4,O2_5,O2_6,O2_7,NH4_1,...,NO3_5,NO3_6,NO3_7,BOD5_1,BOD5_2,BOD5_3,BOD5_4,BOD5_5,BOD5_6,BOD5_7
0,0,8.59,7.500,9.000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,16.645,0,0
1,0,8.21,3.710,5.420,0,0,0,0,0,0,...,0,0,0,0,0,0,0,6.750,0,0
2,0,8.39,8.700,8.100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.670,0,0
3,0,8.07,8.050,8.650,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.400,0,0
4,0,8.12,9.000,9.000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.400,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3038,0,8.65,8.367,8.760,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.415,0,0
3039,0,8.08,6.250,8.300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,7.695,0,0
3040,0,8.09,6.630,6.630,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.415,0,0
3041,0,9.95,8.367,8.433,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.400,0,0
3042,0,8.51,8.500,8.100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.415,0,0

In [37]:
df.target = df.target.clip(7, 16)

In [38]:
len(df[df['target']==7].index.to_numpy())

163

In [40]:
# 130 (1.30) -> 150 (1.31) -> 120 (clip 16 instead of 20) (1.31)

In [41]:
drop_index = np.random.choice(df[df['target']==7].index.to_numpy(), 150, replace=False)
df.loc[drop_index]

,id,target,O2_1,O2_2,O2_3,O2_4,O2_5,O2_6,O2_7,NH4_1,...,NO3_5,NO3_6,NO3_7,BOD5_1,BOD5_2,BOD5_3,BOD5_4,BOD5_5,BOD5_6,BOD5_7
1691,0,7.0,4.20,4.725,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.725,0,0
154,0,7.0,6.10,7.500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,7.750,0,0
1570,0,7.0,7.35,6.950,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.850,0,0
2112,0,7.0,8.10,7.800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,5.200,0,0
2139,0,7.0,7.40,8.500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,30.050,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2349,0,7.0,5.70,8.400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.415,0,0
1752,0,7.0,7.25,7.400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,7.700,0,0
2507,0,7.0,7.10,6.400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.750,0,0
510,0,7.0,9.70,8.900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,5.725,0,0
2250,0,7.0,7.10,6.900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.415,0,0

In [42]:
df = df.drop(drop_index)
df.shape

(2893, 37)

In [43]:
df.to_csv('sub23-aggressive-drop.csv', index=False)